<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="file_upload_label">
        Hello World
        <form action="/files/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
    </div>

    <div class="login">
        <form action="/login" method="post">
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>